{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block title %}
<title>{{config.title}} - {{page.title}}</title>
{% endblock title %}

{% block content %}

{% if toc %}
<div class="post-toc" id="post-toc">
    <h2 class="post-toc-title">Contents</h2>
    <div class="post-toc-content always-active">
        <nav id="TableOfContents">
            <ul>
                {% for h1 in toc %}
                <li>
                    <a href={{h1.permalink | safe}} class="toc-link">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        <li>
                            <a href={{h2.permalink | safe}} class="toc-link">{{ h2.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}


<article class="post">
    {{ post_macros::post_title(page=page) }}
    {{ post_macros::post_labels(page=page) }}

    <div class="post-content">
        {{ page.content | safe }}
    </div>

    {% block page_before_footer %}

    {% endblock page_before_footer %}

    <div class="post-footer">
        {% block page_footer %}
        {{ post_macros::post_copyright(page=page) }}

        <br>
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://twistoy.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>


        {% if page.earlier or page.later or page.lighter or page.heavier %}
        <div class="post-nav">
            {% if page.earlier %}
            <a class="next" href={{ page.earlier.permalink }}>{{ page.earlier.title }} ›</a>
            {% endif %}
            {% if page.later %}
            <a class="previous" href={{ page.later.permalink }}>‹ {{ page.later.title }}</a>
            {% endif %}
            {% if page.lighter %}
            <a class="next" href={{ page.lighter.permalink }}>{{ page.lighter.title }} ›</a>
            {% endif %}
            {% if page.heavier %}
            <a class="previous" href={{ page.heavier.permalink }}>‹ {{ page.heavier.title }}</a>
            {% endif %}
        </div>
        {% endif %}
        {% endblock page_footer %}

    </div>

    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>


{% endblock content %}